#root {
  text-align: center;
}

body{
  width: 70%;
  margin: 0 auto;
}

li{
  list-style: none;
  margin-bottom: 2rem;
}

.refresh{
  width: 30px;
  height: 30px;
  border-radius: 25%;
  border-color: transparent;
  background-color: #d0d5dd;
  margin-top: 7px;
}